@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide logoDark images in light mode */
.logoDark {
  display: none;
}

/* enable the rule below to support system preference  of color scheme*/
/* also the darkmode selector must be removed from tailwind.config.js */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .logoLight {
    display: none;
  }
  .logoDark {
    display: unset;
  }
} */

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

/* animated linear gradient background */
body {
	background: linear-gradient(-22deg, #b4aad2, #b0c2e1, #bce1ee, #f4f5f6);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

